.headerWrapper {
  width: 100vw;
  background-color: #6c48f0;
  padding: 32px;
}

.headerContainer {
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerLink {
  margin-right: 32px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .headerWrapper {
    padding: 40px 24px;
  }
  .headerLogo {
    width: 120px;
  }
}
